/**
 * Please note that these styles will be loaded before editor styles.
 * If a theme's editor style specifies the same classname, these may be overwritten. 
 */

.is-style-rotating-cover .wp-block-cover__inner-container {
	animation: cover-rotation 2s infinite linear;
}

.wp-block[data-type="core/cover"].is-selected .is-style-rotating-cover .wp-block-cover__inner-container {
	animation: none;
}

@keyframes cover-rotation {
	0% {
		transform: rotate(0deg) scale(0,0);
	}
	50% {
		transform: rotate(144deg) scale(3,3);
	}
	100% {
		transform: rotate(359deg) scale(0,0);
	}
}