/**
 * Please note that these styles will be loaded before editor styles.
 * If a theme's editor style specifies the same classname, these may be overwritten. 
 */

.is-style-rainfall .blocks-gallery-item {
	margin-bottom: 40em;
}

.is-style-rainfall .blocks-gallery-item:nth-child(2) {
	position: relative; 
	top: 10em;
}

.is-style-rainfall .blocks-gallery-item:nth-child(3n + 1) {
	position: relative; 
	bottom: -30em;
}

.is-style-rainfall .blocks-gallery-item:nth-child(3n + 5) {
	position: relative; 
	top: -20em;
}