/**
 * Please note that these styles will be loaded before editor styles.
 * If a theme's editor style specifies the same classname, these may be overwritten. 
 */

/**
 * Please note that these styles will be loaded before editor styles.
 * If a theme's editor style specifies the same classname, these may be overwritten. 
 */

.is-style-irregular-cover {
	background-color: #000;
	background-size: 50% auto;
	background-position: center center;
	background-repeat: no-repeat;
}

@media screen and (min-width: 480px) {
	.is-style-irregular-cover {
			background-size: auto 60%;
			background-position: 90% 0;
	}
}